*{
    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 12px;
}
#navbar{
    height: 30px;
    background-color: #0f1111;
    padding-top: 4px;

}
a{
    text-decoration: none;
    margin-right: 25px;
}
button{
    background-color: #f08804;
    border-radius: 3px;
    border-width: thin;
}
#logo{
    color:#f08804;
}