*{
    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 12px;
    /*  */
}
/* oli style for navbar */
/* #navbar{
    height: 30px;
    background-color: #0f1111;
    padding-top: 4px;

}
a{
    text-decoration: none;
    margin-right: 25px;
}
button{
    background-color: #f08804;
    border-radius: 3px;
    border-width: thin;
}
#logo{
    color:#f08804;

}
#content{
    height: 205px;
   
} */

/* New style flexbox */
.navbar{
    display: flex;
    background-color: #0f1111;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}
#logo{
      color:#f08804;
}
li{
    list-style-type: none;
    
}
a{
    text-decoration: none;
}
button{
     background-color: #f08804;
    border-radius: 3px;
    border-width: thin;
}
.contentbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}
.contentbox1{
    background-color: rgba(140, 88, 88, 0.7);

}
.contentbox2{
    background-color: rgba(179, 44, 44, 0.3);
}
.contentbox3{
    background-color: rgba(55, 200, 200, 0.5);
}
footer{
    /* color: black; */
    background-color: #0f1111;
    text-align: center;
}